<div class="app">
  <header class="header">
    <form class="search">
      <input type="search" class="search-input" placeholder="Search…" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
      <a class="search-clear"></a>
      <div class="search-tag"></div>
    </form>
    <a class="home-link"></a>
    <a class="menu-link"></a>
    <h1 class="logo">
      <a href="/" class="nav-link" title="Javascript Inspector">Javascript Inspector</a>
    </h1>
    <!-- <nav class="nav">
      <a href="#" class="nav-link">Offline</a>
      <a href="#" class="nav-link">About</a>
      <a href="#" class="nav-link">News</a>
      <a href="#" class="nav-link">Tips</a>
    </nav> -->
  </header>
  <section class="sidebar">
    <div class="list">
      <a href="/inspector/" class="list-item icon-inspector list-dir open" data-slug="inspector" title="inspector">
        <span class="list-arrow"></span>
        <span class="list-count">3.9.0</span>inspector</a>
      <div class="list list-sub">
        <a href="/inspector-array/" class="list-item list-dir active focus open" data-slug="array">
          <span class="list-arrow"></span>
          <span class="list-count">42</span>Array</a>
        <div class="list list-sub">
          <a href="/inspector/index#chunk" class="list-item list-hover">_.chunk</a>
          <a href="/inspector/index#compact" class="list-item list-hover">_.compact</a>
          <a href="/inspector/index#difference" class="list-item list-hover">_.difference</a>
          <a href="/inspector/index#drop" class="list-item list-hover">_.drop</a>
          <a href="/inspector/index#dropRight" class="list-item list-hover">_.dropRight</a>
          <a href="/inspector/index#dropRightWhile" class="list-item list-hover">_.dropRightWhile</a>
          <a href="/inspector/index#dropWhile" class="list-item list-hover">_.dropWhile</a>
          <a href="/inspector/index#fill" class="list-item list-hover">_.fill</a>
          <a href="/inspector/index#findIndex" class="list-item list-hover">_.findIndex</a>
          <a href="/inspector/index#findLastIndex" class="list-item list-hover">_.findLastIndex</a>
          <a href="/inspector/index#first" class="list-item list-hover">_.first</a>
          <a href="/inspector/index#flatten" class="list-item list-hover">_.flatten</a>
          <a href="/inspector/index#flattenDeep" class="list-item list-hover">_.flattenDeep</a>
          <a href="/inspector/index#first" class="list-item list-hover">_.head</a>
          <a href="/inspector/index#indexOf" class="list-item list-hover">_.indexOf</a>
          <a href="/inspector/index#initial" class="list-item list-hover">_.initial</a>
          <a href="/inspector/index#intersection" class="list-item list-hover">_.intersection</a>
          <a href="/inspector/index#last" class="list-item list-hover">_.last</a>
          <a href="/inspector/index#lastIndexOf" class="list-item list-hover">_.lastIndexOf</a>
          <a href="/inspector/index#zipObject" class="list-item list-hover">_.object</a>
        </div>
        <a href="/inspector-chain/" class="list-item list-dir" data-slug="chain">
          <span class="list-arrow"></span>
          <span class="list-count">13</span>Chain</a>
        <a href="/inspector-collection/" class="list-item list-dir" data-slug="collection">
          <span class="list-arrow"></span>
          <span class="list-count">39</span>Collection</a>
        <a href="/inspector-date/" class="list-item list-dir" data-slug="date">
          <span class="list-arrow"></span>
          <span class="list-count">1</span>Date</a>
        <a href="/inspector-function/" class="list-item list-dir" data-slug="function">
          <span class="list-arrow"></span>
          <span class="list-count">25</span>Function</a>
        <a href="/inspector-lang/" class="list-item list-dir" data-slug="lang">
          <span class="list-arrow"></span>
          <span class="list-count">30</span>Lang</a>
        <a href="/inspector-math/" class="list-item list-dir" data-slug="math">
          <span class="list-arrow"></span>
          <span class="list-count">4</span>Math</a>
        <a href="/inspector-methods/" class="list-item list-dir" data-slug="methods">
          <span class="list-arrow"></span>
          <span class="list-count">1</span>Methods</a>
        <a href="/inspector-number/" class="list-item list-dir" data-slug="number">
          <span class="list-arrow"></span>
          <span class="list-count">2</span>Number</a>
        <a href="/inspector-object/" class="list-item list-dir" data-slug="object">
          <span class="list-arrow"></span>
          <span class="list-count">28</span>Object</a>
        <a href="/inspector-properties/" class="list-item list-dir" data-slug="properties">
          <span class="list-arrow"></span>
          <span class="list-count">16</span>Properties</a>
        <a href="/inspector-string/" class="list-item list-dir" data-slug="string">
          <span class="list-arrow"></span>
          <span class="list-count">22</span>String</a>
        <a href="/inspector-utility/" class="list-item list-dir" data-slug="utility">
          <span class="list-arrow"></span>
          <span class="list-count">18</span>Utility</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="content">
      <div class="page">

      </div>
    </div>
  </section>
  <div class="resizer" draggable="true"></div>
</div>
